<section class="theSection" >
    <div class="aprocontent">
        <h1>À propos de nous</h1>
        <p class="apro">Bienvenue sur FlavorShare – votre compagnon culinaire préféré !<br>
            <br>

            Nous sommes une équipe de passionnés de cuisine, déterminés à rendre la gastronomie accessible à tous. Que vous soyez un débutant curieux ou un chef expérimenté, notre application vous propose des recettes testées, des astuces pratiques et des inspirations savoureuses pour égayer vos repas au quotidien.</p>
    </div>
    <div>
        <h1>Recette Populaire </h1>
    </div>
    <div class="articles-list">
        <article class="article-item" *ngFor="let recet of Recette.slice().reverse() | slice:0:3"> 
            <ng-component *ngIf="(!selectCategories || recet.Categorie === selectCategories) 
                          && (!searchByTitle || recet.Nom.toLowerCase().includes(searchByTitle.toLowerCase()))">
                <img [src]="recet.img" class="article-image">
                <div class="article-content">
                    <h2 class="article-title">{{ recet.Nom }}</h2>
                    <p class="article-excerpt">{{ recet.ingredients }}</p>
                    <p class="article-excerpt">{{ recet.etapes }}</p>
                    <div class="article-footer">
                        <span class="article-category">{{ recet.Categorie }}</span>
                    </div>  
                </div>
            </ng-component>
        </article>
    </div>

</section>