<div class="form-container">
  <div class="form-card">
    <h1 class="form-title">Ajouter une Recette</h1>
    <form (ngSubmit)="ajouterRecipe()" class="recipe-form">
      <div class="form-group">
        <label class="form-label">Nom de la recette :</label>
        <input [(ngModel)]="recipe.nom" class="form-input" type="text" name="nom" placeholder="Entrez le nom de la recette" required>
      </div>

      <div class="form-group">
        <label class="form-label">Ingrédients :</label>
        <textarea [(ngModel)]="recipe.ingredients" class="form-input" name="ingredients" rows="3" 
                  placeholder="Listez les ingrédients "></textarea>
      </div>

      <div class="form-group">
        <label class="form-label">Les Étapes :</label>
        <textarea [(ngModel)]="recipe.etapes" class="form-input" name="etapes" rows="4"
                  placeholder="Décrivez les étapes de préparation"></textarea>
      </div>

      <div class="form-group">
        <label class="form-label">URL de l'image :</label>
        <input [(ngModel)]="recipe.img" class="form-input" type="text" name="img" placeholder="https://exemple.com/image.jpg">
      </div>

      <div class="form-group">
        <label class="form-label">Catégorie :</label>
        <select name="categorie" class="form-select" [(ngModel)]="recipe.categorie">
          <option value="" disabled selected>Choisissez une catégorie</option>
          <option value="Entrée">Entrée</option>
          <option value="Plat principal">Plat principal</option>
          <option value="Dessert">Dessert</option>
          <option value="Soupe">Soupe</option>
          <option value="Salade">Salade</option>
        </select>
      </div>

      <button type="submit" class="submit-btn">
        <i class="bi bi-plus-circle"></i> Ajouter la recette
      </button>
    </form>
  </div>
</div>
